<body>
  <div class="rule-list">
    <h1>Instructions for the Game</h1>
    <ul>
      <li><h2>We will split the team based on the available members.</h2></li>
      <li><h2>Which team will go first and so on will be based on the lucky draw.</h2></li>
      <li><h2>There will be 4 different categories and 5 different levels of questions, everytime you can choose one from it in your turn.</h2></li>
      <li><h2>For the 100 and 200 points you will have 1 minute to answer, you need to answer before the timer turns to 0.</h2></li>
      <li><h2>For the 300 point you will have 2 minutes to answer, you need to answer before the timer turns to 0.</h2></li>
      <li><h2>For the 400 and 500 points you will have 3 minutes to answer, you need to answer before the timer turns to 0.</h2></li>
      <li><h2>For the 400 and 500 points questions there will be a clue you can use but if the clue is used 20% of the ponit will be deducted for particular question.</h2></li>
      <li><h2>If you answer the question correctly you will get the points based on the points of question.</h2></li>
      <li><h2>Eg. If you answered 200 point question correctly you will get 200 ponits.</h2></li>
      <li><h2>Likewise if you answer the question wrongly you will loose 20% of the points from your total points.</h2></li>
      <li><h2>Eg. If you answered 200 point question wrongly you will loose 20 ponits from your total points.</h2></li>
      <li><h2>Points will be calculated using the ponits calculator.</h2></li>
      <li><h2>The points are based on the difficulty level of the question</h2></li>
      <li><h2>Should not use mobiles or PC's or Laptop during game time.</h2></li>
      <li><h2>If there is any of the following activity found the points will not be added to your team.</h2></li>
      <li><h2>You can choose your question by saying category name and points</h2></li>
      <li><h2>There could be other answers to the question but the one displayed in the screen is will be considered as final</h2></li>
      <li><h2>We need to spend the time effectively without arguments for answers</h2></li>
    </ul>
  </div>
</body>
