<head>
    <!-- Other meta tags and stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  
<div class="background">

<div class="container">
    <div class="box">
      <a routerLink="/game" class="box-link">
        
        <img src="assets/Quiz.jpg">
      </a>
      <p class="box-text">Quiz</p>
    </div>
    <div class="box">
      <a routerLink="/connections" class="box-link">
        <img src="assets/Connection.jpg">
      </a>
      <p class="box-text">Connections</p>
    </div>
  </div>
</div>
  