<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<app-modal #modalRef></app-modal>

<div class="container">
  <a routerLink="/rules" class="left" target="_blank"><h1 class="container">Rules</h1></a>
  <div class="center"><h1 class="container">Fun Friday</h1></div>
  <a routerLink="/score" class="right" target="_blank"><h1 class="container">Points Calculator</h1></a>
</div>

<div id="model-container" class="table-container margin">
  <table class="my-table" style="width: 100%; height: 100%;">
    <tr>
      <td><h1 class="cell-button-first">Are</h1></td>
      <td><h1 class="cell-button-first">You</h1></td>
      <td><h1 class="cell-button-first">Ready</h1></td>
      <td><h1 class="cell-button-first">For</h1></td>
      <td><h1 class="cell-button-first">The</h1></td>
      <td><h1 class="cell-button-first">Game</h1></td>
    </tr> 
    <tr>
      <td><button (dblclick)="openModal(0,100)" class="cell-button">{{ FirstText_100 | async }}</button></td>
      <td><button (dblclick)="openModal(1,100)" class="cell-button">{{ SecondText_100 | async }}</button></td>
      <td><button (dblclick)="openModal(2,100)" class="cell-button">{{ ThiredText_100 | async  }}</button></td>
      <td><button (dblclick)="openModal(3,100)" class="cell-button">{{ ForthText_100 | async  }}</button></td>
      <td><button (dblclick)="openModal(4,100)" class="cell-button">{{ FifthText_100 | async  }}</button></td>
      <td><button (dblclick)="openModal(5,100)" class="cell-button">{{ SixthText_100 | async  }}</button></td>      
    </tr>
    <tr>
      <td><button (dblclick)="openModal(6,200)" class="cell-button">{{ FirstText_200 | async }}</button></td>
      <td><button (dblclick)="openModal(7,200)" class="cell-button">{{ SecondText_200 | async }}</button></td>
      <td><button (dblclick)="openModal(8,200)" class="cell-button">{{ ThiredText_200 | async }}</button></td>
      <td><button (dblclick)="openModal(9,200)" class="cell-button">{{ ForthText_200 | async }}</button></td>
      <td><button (dblclick)="openModal(10,200)" class="cell-button">{{ FifthText_200 | async }}</button></td>
      <td><button (dblclick)="openModal(11,200)" class="cell-button">{{ SixthText_200 | async }}</button></td>      
    </tr>
    <tr>
      <td><button (dblclick)="openModal(12,300)" class="cell-button">{{ FirstText_300 | async }}</button></td>
      <td><button (dblclick)="openModal(13,300)" class="cell-button">{{ SecondText_300 | async }}</button></td>
      <td><button (dblclick)="openModal(14,300)" class="cell-button">{{ ThiredText_300 | async }}</button></td>
      <td><button (dblclick)="openModal(15,300)" class="cell-button">{{ ForthText_300 | async }}</button></td>
      <td><button (dblclick)="openModal(16,300)" class="cell-button">{{ FifthText_300 | async }}</button></td>
      <td><button (dblclick)="openModal(17,300)" class="cell-button">{{ SixthText_300 | async }}</button></td>
    </tr>
    <tr>
      <td><button (dblclick)="openModal(18,400)" class="cell-button">{{ FirstText_400 | async }}</button></td>
      <td><button (dblclick)="openModal(19,400)" class="cell-button">{{ SecondText_400 | async }}</button></td>
      <td><button (dblclick)="openModal(20,400)" class="cell-button">{{ ThiredText_400 | async }}</button></td>
      <td><button (dblclick)="openModal(21,400)" class="cell-button">{{ ForthText_400 | async }}</button></td>
      <td><button (dblclick)="openModal(22,400)" class="cell-button">{{ FifthText_400 | async }}</button></td>
      <td><button (dblclick)="openModal(23,400)" class="cell-button">{{ SixthText_400 | async }}</button></td>     
    </tr>
    <tr>
      <td><button (dblclick)="openModal(24,500)" class="cell-button">{{ FirstText_500 | async }}</button></td>
      <td><button (dblclick)="openModal(25,500)" class="cell-button">{{ SecondText_500 | async }}</button></td>
      <td><button (dblclick)="openModal(26,500)" class="cell-button">{{ ThiredText_500 | async }}</button></td>
      <td><button (dblclick)="openModal(27,500)" class="cell-button">{{ ForthText_500 | async }}</button></td>
      <td><button (dblclick)="openModal(28,500)" class="cell-button">{{ FifthText_500 | async }}</button></td>
      <td><button (dblclick)="openModal(29,500)" class="cell-button">{{ SixthText_500 | async }}</button></td>
    </tr>
    <tr>
      <td><button (dblclick)="openModal(30,600)" class="cell-button">{{ FirstText_600 | async }}</button></td>
      <td><button (dblclick)="openModal(31,600)" class="cell-button">{{ SecondText_600 | async }}</button></td>
      <td><button (dblclick)="openModal(32,600)" class="cell-button">{{ ThiredText_600 | async }}</button></td>
      <td><button (dblclick)="openModal(33,600)" class="cell-button">{{ ForthText_600 | async }}</button></td>
      <td><button (dblclick)="openModal(34,600)" class="cell-button">{{ FifthText_600 | async }}</button></td>
      <td><button (dblclick)="openModal(35,600)" class="cell-button">{{ SixthText_600 | async }}</button></td>
    </tr>
  </table>
</div>
