<div class="modal" id="myModal">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">

      <audio #audioPlayer>
        <source src="assets/Last 30 secs.ogg" type="audio/ogg">
      </audio>

      <div class="modal-header">
        <h2 class="guess">Guess the answer ..... </h2>
        <h2 class="timer">{{getTimeRemaining() }}</h2>
      </div>

      <!-- Modal body 00 -->
      <div class="modal-body centertext" *ngIf="modalBody === 0">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 1.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">Web Connection</h1>
        </div>
      </div>

      <!-- Modal body 01 -->
      <div class="modal-body centertext" *ngIf="modalBody === 1">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 2.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">Catalogue</h1>
        </div>
      </div>

      <!-- Modal body 02 c-->
      <div class="modal-body centertext" *ngIf="modalBody === 2">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 3.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">Star bucks</h1>
        </div>
      </div>

      <!-- Modal body 03 -->
      <div class="modal-body centertext" *ngIf="modalBody === 3">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 4.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">fast food</h1>
        </div>
      </div>

      <!-- Modal body 04 -->
      <div class="modal-body centertext" *ngIf="modalBody === 4">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 5.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">ice cream</h1>
        </div>
      </div>

      <!-- Modal body 05 -->
      <div class="modal-body centertext" *ngIf="modalBody === 5">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 6.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">Sandwich</h1>
        </div>
      </div>

      <!-- Modal body 10 -->
      <div class="modal-body centertext" *ngIf="modalBody === 6">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 7.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">lemonade</h1>
        </div>
      </div>

      <!-- Modal body 11-->
      <div class="modal-body centertext" *ngIf="modalBody === 7">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 8.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">obese</h1>
        </div>
      </div>

      <!-- Modal body 12 c-->
      <div class="modal-body centertext" *ngIf="modalBody === 8">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 9.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">brainstrom</h1>
        </div>
      </div>

      <!-- Modal body 13 -->
      <div class="modal-body centertext" *ngIf="modalBody === 9">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 10.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">crash course</h1>
        </div>
      </div>

      <!-- Modal body 14 -->
      <div class="modal-body centertext" *ngIf="modalBody === 10">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 11.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">hotspot</h1>
        </div>
      </div>

      <!-- Modal body 15 -->
      <div class="modal-body centertext" *ngIf="modalBody === 11">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 12.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">zoom meeting</h1>
        </div>
      </div>

      <!-- Modal body 20 -->
      <div class="modal-body centertext" *ngIf="modalBody === 12">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 13.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">cloud sync</h1>
        </div>
      </div>

      <!-- Modal body 21 -->
      <div class="modal-body centertext" *ngIf="modalBody === 13">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 14.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">breaking news</h1>
        </div>
      </div>

      <!-- Modal body 22 c-->
      <div class="modal-body centertext" *ngIf="modalBody === 14">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 15.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">pie chart</h1>
        </div>
      </div>

      <!-- Modal body 23 -->
      <div class="modal-body centertext" *ngIf="modalBody === 15">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 16.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">cupboard</h1>
        </div>
      </div>

      <!-- Modal body 24 -->
      <div class="modal-body centertext" *ngIf="modalBody === 16">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 17.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">couch potato</h1>
        </div>
      </div>

      <!-- Modal body 25 -->
      <div class="modal-body centertext" *ngIf="modalBody === 17">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 18.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">plastic surgery</h1>
        </div>
      </div>

      <!-- Modal body 30 -->
      <div class="modal-body centertext" *ngIf="modalBody === 18">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 19.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">deadline</h1>
        </div>
      </div>

      <!-- Modal body 31 -->
      <div class="modal-body centertext" *ngIf="modalBody === 19">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 20.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">copy cat</h1>
        </div>
      </div>

      <!-- Modal body 32 c-->
      <div class="modal-body centertext" *ngIf="modalBody === 20">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 21.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">earbuds</h1>
        </div>
      </div>

      <!-- Modal body 33 -->
      <div class="modal-body centertext" *ngIf="modalBody === 21">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 22.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">night owl</h1>
        </div>
      </div>

      <!-- Modal body 34 -->
      <div class="modal-body centertext" *ngIf="modalBody === 22">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 23.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">show stopper</h1>
        </div>
      </div>

      <!-- Modal body 35 -->
      <div class="modal-body centertext" *ngIf="modalBody === 23">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 24.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">flash back</h1>
        </div>
      </div>


      <!-- Modal body 40 -->
      <div class="modal-body centertext" *ngIf="modalBody === 24">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 25.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">island</h1>
        </div>
      </div>

      <!-- Modal body 41 -->
      <div class="modal-body centertext" *ngIf="modalBody === 25">
        <div class="centerimg">
         <img id="firstImage" src="assets/images/Question 26.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">mailbox</h1>
        </div>
      </div>

      <!-- Modal body 42 c-->
      <div class="modal-body centertext" *ngIf="modalBody === 26">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 27.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">antivirus</h1>
        </div>
      </div>

      <!-- Modal body 43 -->
      <div class="modal-body centertext" *ngIf="modalBody === 27">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 28.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">debug</h1>
        </div>
      </div>

      <!-- Modal body 44 -->
      <div class="modal-body centertext" *ngIf="modalBody === 28">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 29.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">reboot</h1>
        </div>
      </div>

      <!-- Modal body 45 -->
      <div class="modal-body centertext" *ngIf="modalBody === 29">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 30.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">Drumstick</h1>
        </div>
      </div>

      <!-- Modal body 50 -->
      <div class="modal-body centertext" *ngIf="modalBody === 30">
        <div class="centerimg">
         <img id="firstImage" src="assets/images/Question 31.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">fast food</h1>
        </div>
      </div>

      <!-- Modal body 51 -->
      <div class="modal-body centertext" *ngIf="modalBody === 31">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 32.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">fast food</h1>
        </div>
      </div>

      <!-- Modal body 52 c-->
      <div class="modal-body centertext" *ngIf="modalBody === 32">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 33.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">fast food</h1>
        </div>
      </div>

      <!-- Modal body 53 -->
      <div class="modal-body centertext" *ngIf="modalBody === 33">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 34.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">fast food</h1>
        </div>
      </div>

      <!-- Modal body 54 -->
      <div class="modal-body centertext" *ngIf="modalBody === 34">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 35.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">fast food</h1>
        </div>
      </div>

      <!-- Modal body 55 -->
      <div class="modal-body centertext" *ngIf="modalBody === 35">
        <div class="centerimg">
          <img id="firstImage" src="assets/images/Question 36.jpg">
          <h1 id="secondImage" style="display: none; margin-top: 80px; margin-bottom: 100px; color: green">fast food</h1>
        </div>
      </div>


      <!-- Modal footer (No clue button)--> 
      <div class="modal-footer">
        <button type="button" (click)="showSecondImage()" class="btn btn-success float-start buttons"><h2>Answer</h2></button>
        <button type="button" (click)="close()" class="btn btn-danger ms-auto buttons" data-dismiss="modal"><h2>Close</h2></button>
      </div>

    </div>
  </div>
</div>
