<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  
<div class="background">
<div class="container">
    <div class="box">
      <a routerLink="/playgames" class="box-link" (click)="toggleConfigureGame()">
        <img src="https://media.istockphoto.com/id/1423173157/vector/devops-and-devsecops-conceptual-illustration.jpg?s=1024x1024&w=is&k=20&c=bLEMp3B1mG9_nRflVaLgnKnvk5w0_7tq8gH_YSclPv4=" alt="Image 1">
      </a>
      <p class="box-text">Configure Game</p>
    </div>
    <div class="box">
      <a routerLink="/playgames" class="box-link">
        <img src="https://media.istockphoto.com/id/1342031669/photo/creative-recreational-toys-entertainment-theme-3d-rendering.jpg?s=1024x1024&w=is&k=20&c=kRfk5odpoJE0Xt2QOWf9IzQlvgIBf0lDvW3mcxUwZ6c=">
      </a>
      <p class="box-text">Play Game</p>
    </div>
  </div>
</div>
  